.containerProjects {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0;
}

.containerCard {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 40px;

  transition: all 0.3s;
}

.overFlowNot {
  overflow: visible;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  aspect-ratio: 1.5;
}

.titleImage {
  position: absolute;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  background: rgba(35, 31, 61);
  backdrop-filter: blur(4px);

  padding: 10%;

  border-radius: 10px;
}

.textContainer h2 {
  font-size: 2.8rem;
  margin: 0;
}

.textContainer p {
  font-size: 1.6rem;
  margin: 0;
}

.picture {
  opacity: 0;
  transform: translate(300px);

  transition: all 1s;
  animation: ImgAnimation 2s infinite linear;
  border-radius: 10px;

  overflow: hidden;
  border: 5px solid black;
}

.show {
  opacity: 1;
  transform: translate(0px);
}

@keyframes ImgAnimation {
  0%,
  100% {
    box-shadow: 0 0 20px 0 #695dd8;
  }
  50% {
    box-shadow: 0 0 20px 10px #695dd8;
  }
}

.img {
  width: auto;
  height: 100%;
}
