.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin: 50px 0;

  aspect-ratio: 3;
}

.containerImage {
  min-height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

@keyframes rotationCircles {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(315deg);
  }
}

@keyframes rotationCirclesRevers {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
}

.circle,
.subCircle {
  background: rgba(130, 102, 255, 0.2);

  height: 100%;

  aspect-ratio: 1;

  position: absolute;

  border-radius: 25%;
  box-shadow: 0 0 50px 0 rgba(130, 102, 255);

  animation: rotationCirclesRevers 15s linear infinite;
}

.subCircle {
  transform: rotate(45deg);
  animation: rotationCircles 15s linear infinite;
}

.containerImageModal {
  position: relative;
  width: 100%;
  height: 80%;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 50%;
  aspect-ratio: 1;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
}
